*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
.flex {
    display: flex;
}
/*header*/

header{
    background-color: white ;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
}
header, a{
    color: black;
}
.header{
    width: 30%;
    justify-content: center;
}
.header img{
    width: 50px;
    height: 60px;
    margin: 5px;
}
.name{
    position: relative;
    top: 20px;
    margin-left: 5px;
}
.name{
    font-size: 12px;
    font-weight: 700;
}

/* menu*/

nav{
    width: 70%;
    justify-content: end;
}
ul.menu{
    list-style-type:none ;
    justify-content: end;
    margin: 0 70px 0 0;
}
ul.menu>li{
    margin: 0px 3px;
    transition: background-color 0.5s;
}
ul.menu>li>a{
    display: block;
    padding: 15px 0;
    margin: 10px 18px;
    text-align: center;
    font-size: 14px;
}
ul.menu li:hover{
    background-color:rgba(203, 183, 223, 0.6) ;
}
ul.menu li:hover>a, ul.menu li:hover>div{
    color: #080725 !important;
}

/*menu nhá»*/

.sub{
    list-style-type: none;
    position: absolute;
    visibility: hidden;
    background-color: white;
    border-radius: 5px;
}
.subs:hover>.sub {
    visibility: visible;
}
.sub>li>a{
    display: block;
    color: #080725 !important;
    margin: 0px;
    padding: 15px 50px 15px 15px;
    font-size: 14px;
}
.subs:hover>.sub{
    border-top: 4px solid #080725;
}
.sub::before{
    content: " ";
    border-width: 13px;
    border-style: solid;
    border-color: transparent transparent #080725 transparent;
    position: absolute;
    left: 30px;
    bottom: 100%;
}

/*sdt*/

.copy>li{
    font-size: 14px;
    padding: 10px;
    position: relative;
}

.copy button{
    background-color: inherit;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 10px;
}
.copy button:hover{
    background-color: blue;
}
.copy>li>button::before{
    content:"Copied";
    position: absolute;
    top: 5px;
    right: 10px;
    border: 1px solid rgb(177, 175, 184);
    background-color: rgb(177, 175, 184);
    border-radius: 10px;
    padding: 0 2px;
    display: none;
}
.copy>li>button::after{
    content: " ";
    border-width: 5px;
    border-style: solid;
    border-color: rgb(177, 175, 184) transparent transparent transparent;
    position: absolute;
    top: 22px;
    right: 27px;
    display: none;
}
.copy>li>button.active::before, .copy>li>button.active::after{
    display: block;
}


/*main*/

body{
    background-color:aliceblue;
}
main{
    margin-top: 70px;
}

/* footer*/

footer{
    background-image: url(../image/f.jpg);
    color: white;
    padding: 50px 80px;
    justify-content: space-around;
}
footer ul{
    list-style-type: none;
    margin-top: 50px;
}
footer ul>li{
    padding: 10px;
    font-size: 20px;
}
.f_left{
    width: 40%;
}
.f_right{
    width: 40%;
}
.f_right iframe{
    width: 100%;
    height: 100%;
}
.social a{
    width: 10%;
    margin: 5px;
}
.social img{
    width: 100%;
}
.social p{
    font-size: 25px;
    font-weight: bold;
    margin: auto 10px;
}

#bars{
    background-color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    display: none;
}

@media all and (max-width:740px){
    
    footer.flex{
        display: block;
        padding: 10px;
    }
    footer.flex>div{
        width: 100%;
    }
    .f_left h1{
        font-size: 22px;
    }
    .f_left h2{
        font-size: 16px;
        padding-left: 5px;
    }
    .f_left ul{
        margin-top: 10px;
    }
    .f_left ul>li{
        padding: 5px;
        font-size: 16px;
    }
    .social p{
        font-size: 18px;
        margin: auto 5px;
    }
}

@media all and (max-width: 1024px) and (min-width:740px){
    footer.flex{
        padding: 0px;
    }
    footer.flex>div{
        width: 50%;
        padding: 10px;
    }
    .f_left ul{
        margin-top: 10px;
    }
    .social p{
        font-size: 20px;
    }
    .f_left ul>li{
        padding: 5px;
        font-size: 18px;
    }
    .f_left h1{
        font-size: 22px;
    }
    .f_left h2{
        font-size: 16px;
        padding-left: 5px;
    }


}

@media all and (max-width: 1024px){
    /*menu mobi tablet*/
    #bars{
        display: flex;
    }
    #bars>i{
        cursor: pointer;
    }
    header.flex{
        display: block;
        background-color: white !important;
    }
    .header.flex{
        width: 100%;
        justify-content: space-between;
    }
    nav{
        width: 100%;

    }
    ul.menu{
        margin: 0;
        padding: 0;
        display: initial;
        width: 100%;
        display: none;
    }
    .menu a, header a{
        color: #080725!important;
    }
    .slide{
        margin-top: 70px;
    }
    ul.menu>li>a{
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
    }
    ul.menu>li{
        border: 0 !important;
    }
}
