/*header*/
header{
    background-color: transparent;
}
header a{
    color: white;
}
ul.menu>li:first-child>a{
    color: #080725 !important;
    font-weight: 600;
}
ul.menu>li:first-child{
    border-bottom: 4px solid #080725;
}

/*main*/

body{
    background-color:aliceblue;
}
main{
    margin-top: 70px;
}


/*slide*/

.slide{
    height: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.images{
    position: absolute;
    height: 100%;
    width: 500%;
    transition: 0.5s;
}
.slide img{
    width: 20%;
    height: 700px;
    float: left;
    object-fit: cover;
    filter: brightness(0.9);
}

.buttons>div{
    position: absolute;
    color: rgb(203, 203, 169);
    font-size: 40px;
    top: 45%;
    transition: 0.5s;
    cursor: pointer;
}
.buttons>div:hover{
    transform: scale(1.25);
    color: white;
}
.next{
    right: 15px;
}
.pre{
    left: 15px;
}
.dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.dots>div{
    border: 2px solid white;
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
}
.activeDot{
    background-color: white;
}

/*main*/
.left{
    width: 78%;
}
.right{
    width: 22%;
}
.news{
    margin-top: 20px;
    background-color: rgb(247, 244, 242);
}
main{
    margin: 20px 0 0 0;
}

/*news*/

.news{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.news>div{
    margin: 10px;
}
.news>div:first-child>div{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(164, 143, 112);
}
.news i{
    font-size: 40px;
    margin: 10px 0;
    color: brown;
}
.new img{
    margin-top: 10px;
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.new>div:first-child{
    text-align: center;
}
.new div{
    transition: transform 0.5s;
    padding: 3px 10px;
    color: #262263;
}
.new:hover div{
    color: rgb(203, 69, 69);
    transform: scale(1.05);
    text-decoration: underline;
}

/*sm*/

.sm{
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}
.sm>div{
    width: 20%;
    font-size: 20px;
    background-image: linear-gradient(lightcoral, aliceblue);
    border-radius: 30px;
    padding: 30px 30px 80px 30px;
    margin: 20px;
    color: #262263;
}
.sm ul{
    list-style-position: inside;
    text-align: start;
}

/* intro*/
.intro{
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    justify-content: space-around;
}
.intro>div{
    display: flex;
    width: 47%;
    flex-direction: column;
    justify-content: center;
}
.intro img{
    width: 100%;
}
.intro h2{
    color: indianred;
    margin-bottom: 20px;
}
.intro p{
    font-size: 14px;
}


/* info*/
.infos>div{
    justify-content: center;
}
.infos>h2{
    margin-top: 50px;
    padding: 10px 40px;
    color: brown;
    font-size: 30px;
}
.infos>div>div{
    width: 30%;
    margin: 10px;
}
.infos img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.infos h3{
    color: darkmagenta;
}
.infos p{
    font-size: 13px;
    margin-top: 10px;
}

/*table*/
.score{
    width: 100%;
}
.score table{
    width: 100%;
}
.score th,.score td{
    border:1px solid #ccc;
    text-align: center;
    padding: 10px 0;
}
.score table{
    border-collapse:collapse;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.score thead{
    background-color:cadetblue;
}
.score tbody>tr:hover{
    background-color:#ddd;
}
.score caption{
    font-size: 20px;
    margin: 15px 0;
    font-weight: bold;
    color: #262263;

}

/* đối tác*/
.dt>h2{
    display: inline-block;
    margin: 60px 0;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: brown;
    padding-bottom: 4px;
    border-bottom: 3.5px solid darkturquoise;
    
}
.dt>div{
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.dt img{
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*map*/
.maps{
    width: 65%;
    margin:0 auto;
    padding-bottom: 50px;
}
.maps>h2{
    text-align: center;
    font-size: 35px;
    color: red;
    margin: 100px 0 50px 0;
}
.map_left{
    width: 30%;
    flex-wrap: wrap;
    justify-content: space-around;
    border-right: 1px solid black;
}
.map_right{
    width: 70%;
    display: flex;
    align-items: center;
}
.map_right img{
    width: 100%;
}
.map_left>div{
    width: 40%;
    text-align: center;
    margin: 10px 0;
}
.map_left img{
    width: 60%;
}
.map_info>div:first-child{
    font-size: 30px;
    color: red;
}
.map_info>div:last-child{
    font-weight: bold;
}
.full{
    width: 100% !important;
}
.full img{
    width: 24% !important;
}

#scrollToTop{
    display: block;
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    z-index: 100; 
    padding: 10px 20px;
    background-color: #080725;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


@media all and (max-width: 740px){
    .slide{
        height: 500px;
    }
    .slide img{
        height: 500px;
    }
    
    
    main.flex{
        display: initial;
    }
    main.flex>.left, main.flex>.left{
        width: 100%;
    }
    .intro{
        width: 100%;
        display: initial;
        box-shadow: none;
        background-color: inherit;
    }
    .intro>div{
        width: 90%;
        margin: 0 auto;
    }
    .sm>div{
        margin: 2px;
        padding: 10px;
        width: 33%;
    }
    .sm>div>div{
        font-size: 16px;
    }
    .sm>div>h2{
        font-size: 18px;
    }
    
    .infos img{
        height: 150px;
    }
    .infos>h2{
        font-size: 25px;
        padding-left: 10px;
    }
    .infos>div{
        justify-content: space-around;
    }
    .infos>div>div{
        box-sizing: border-box;
        margin: 0;
    }
    
    .dt>h2{
        display: block;
        font-size: 25px;
        margin: 50px 0 20px 0;
        transform: translateX(0);
        border: 0;
        text-align: center;
    }
    
    .right{
        width: 100%;
        margin-top: 60px;
    }
    
    .maps{
        width: 100%;
    }
    .maps>h2{
        margin-bottom: 20px;
    }
    .map{
        display: initial;
    }
    .map>div{
        width: 100%;
    }
    .map_left{
        border: 0;
    }
    .map_left>div{
        margin: 3px;
    }
    .map_info>div:first-child{
        font-size: 25px;
    }  
    .score{
        font-size: 12px;
    }  
}
